.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100vh;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 100px;
  background-color: var(--accent);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  max-width: 500px;
}

.name h1 {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.info {
  padding: 0 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 700px;
}

.info h2 {
  font-weight: bold;
  font-size: var(--font-size-m);
}

.divider {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.todoGroups {
  background-color: var(--todo-background-light-dark);
}

.fastspots {
  background-color: var(--fastspots-background);
}

.getDrunk {
  background-color: var(--getDrunk-background);
}

.contact {
  margin-top: 20px;
  display: inline-flex;
  gap: 25px;
  align-items: center;
}

.contact a {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .welcome {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-60%);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .name {
    width: 100%;
    padding: 10px 0;
    max-width: 90%;
    display: flex;
    justify-content: center;
  }

  .name h1 {
    font-size: var(--font-size-l);
  }

  .info {
    padding: 10px 20px;
    max-width: 90%;
  }
}
