.container {
  height: var(--navbar-height);
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  z-index: 1000;
  background-color: transparent;
}

.navbar-home {
  color: white;
}

.navbarProjects {
  color: black !important;
}

.navbarProjects div span {
  background-color: black !important;
}

.container div {
  position: relative;
}

.container div a {
  font-size: var(--font-size-default);
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

.container div span {
  display: block;
  height: 5px;
  width: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container div a:hover + span {
  opacity: 1;
}

.showSpan {
  opacity: 1 !important;
}

@media only screen and (max-width: 500px) {
  .container {
    justify-content: space-around;
    gap: 0;
  }
}
